{{> Header }}

<div class="banner-container">
    <img src="../../../images/banner-image.png" alt="Banner Image">
    <div class="banner-text">
        <h1>Opening Sales</h1>
        <p>Discover amazing products and deals for our grand opening!</p>
    </div>
</div>

<div class="featured-products">
    <h3>Featured Products</h3>
    
    <div class="grid-container">
        <div class="grid-item">
            <img src="../../../images/placeholder-image.jpg" alt="Product Image">
            <div class="text">Product 1</div>
            <div class="price">$10.99</div>
        </div>
        <div class="grid-item">
            <img src="../../../images/placeholder-image.jpg" alt="Product Image">
            <div class="text">Product 2</div>
            <div class="price">$15.99</div>
        </div>
        <div class="grid-item">
            <img src="../../../images/placeholder-image.jpg" alt="Product Image">
            <div class="text">Product 3</div>
            <div class="price">$20.99</div>
        </div>
        <div class="grid-item">
            <img src="../../../images/placeholder-image.jpg" alt="Product Image">
            <div class="text">Product 4</div>
            <div class="price">$25.99</div>
        </div>
    </div>
</div>


{{> Footer }}

