{{> Header }}
<div class="login-container">

    <div class="login-box">
        <h1>Login</h1>

        <form method="POST" action="/login" id="login-form">
            <input type="text" id="email" placeholder="Email">
            <input type="text" id="password" placeholder="Password">
            <button id="login-form-submit-button">Sign In</button>
            <a href="{{ path 'register' }}">Create an account</a>
        </form>

    </div>
</div>

{{> Footer }}
