{{> Header }}

<div class="container">
    <div class="image-div">
        <img src="../../../images/placeholder-image.jpg" alt="Product">
    </div>
    <div class="info-div">
        <div class="top-right">
            <h2>Title of Product</h2>
        </div>
        <div class="middle-right">
            <h5>$789.80</h5>
        </div>
        <div class="bottom-right">
            <li>Color: Black</li>
            <li>Brand: Adidas</li>
        </div>
        <button>Add to Cart</button>
    </div>
</div>

{{> Footer }}
