{{> Header }}

<!-- Display error message if present -->
<p id="error">{{ message }}</p>
<form action="/customers" method="POST" id="register-form">
    <h1>Registration</h1>   
    <div>
        <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    <div>
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
    </div>
    <div>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
    </div>
    <div>
        <input placeholder="Date Of birth" type="date" id="dateOfBirth" name="dateOfBirth" required>
    </div>
    <div>
        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" pattern="[0-9]{10}" required>
    </div>
    <div>
        <input type="text" id="userName" name="userName" placeholder="User Name" required>
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
    </div>
    <div>
        <input type="checkbox" id="isAdmin" name="isAdmin">
        <label for="isAdmin">Admin</label>
    </div>
    <button type="submit" id="register-form-submit-button">Register</button>
</form>

{{> Footer }}
