{{> Header }}
<div class="login-container">

    <div class="login-box">
        <h1>Register</h1>

        <form method="POST" action="/login" id="registration-form">
            <input type="text" id="email" placeholder="Email">
            <input type="text" id="password" placeholder="Password">
            <input type="text" id="password" placeholder="Confirm Password">
            <button id="login-form-submit-button">Sign Up</button>
            <a href="{{ path 'login' }}">Login</a>
        </form>

    </div>
</div>

{{> Footer }}
