 {{> Header }}

<div class="productsCart-div">

    <div class="Product-info-div">
        <h2>Shopping Cart</h2>
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>
                    <img src="../../../images/placeholder-image.jpg" alt="Product Image">
                    <h6>Product Name</h6>
                </td>
                <td>$19.99</td>
                <td>2</td>
                <td>$39.98</td>
            </tr>
            <tr>
                <td>
                    <img src="../../../images/placeholder-image.jpg" alt="Product Image">
                    <h6>Product Name</h6>
                </td>
                <td>$29.99</td>
                <td>1</td>
                <td>$29.99</td>
            </tr>
            <!-- Add more rows as needed -->
        </table>
    </div>

    <div class="checkout-div">
        <div>
            <h4>Order summary</h4>
        </div>
        <div class="subtotal-div">
            <div>Sub Total</div>
            <div>$798.00</div>
        </div>
        <div class="total-div">
            <div>Total</div>
            <div>$798.00</div>        
        </div>
        <button>Checkout</button>
    </div>
</div>


{{> Footer }}
